<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Simply Construction || HTML5 Template</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Place favicon.ico in the root directory -->
    <link rel="shortcut icon" type="~/image/x-icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="~/apple-touch-icon.png">


    <!-- All css files are included here. -->
    <!-- Bootstrap fremwork main css -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <!-- Owl Carousel  main css -->
    <link rel="stylesheet" href="~/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/css/owl.theme.default.min.css">
    <!-- This core.css file contents all plugings css file. -->
    <link rel="stylesheet" href="~/css/core.css">
    <!-- Theme shortcodes/elements style -->
    <link rel="stylesheet" href="~/css/shortcode/shortcodes.css">
    <!-- Theme main style -->
    <link rel="stylesheet" href="~/css/style.css">
    <!-- Responsive css -->
    <link rel="stylesheet" href="~/css/responsive.css">
    <!-- User style -->
    <link rel="stylesheet" href="~/css/custom.css">
    @*<link rel="stylesheet" href="~/css/font-awesome.css"/>
    <link rel="stylesheet" href="~/css/all.min.css"/>*@


    <!-- Modernizr JS -->
    <script src="~/js/vendor/modernizr-2.8.3.min.js"></script>
</head>

<body>
  
    <!-- Body main wrapper start -->
    <div class="wrapper">
        <!-- Start Header Style -->
        <div id="header" class="htc-header">
            <!-- Start Header Top -->
            <div class="htc__header__top bg__cat--1">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
                            <ul class="heaher__top__left">
                                <li><i class="fa fa-clock-o"></i>7.30 AM  -  9.30 PM</li>
                                <li><a href="#"><i class="fa fa-phone"></i>(001)  25465  258  369</a></li>
                            </ul>
                        </div>
                        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
                            <div class="header__top__right">
                                <ul class="login-register">
                                    <li><a href="login-register.html">LOGIN</a></li>
                                    <li class="separator">/</li>
                                    <li><a href="login-register.html">REGISTER</a></li>
                                </ul>
                                <div class="heaher__top__btn">
                                    <a href="#">Buy Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Header Top -->
            <!-- Start Mainmenu Area -->
            <div id="sticky-header-with-topbar" class="mainmenu__wrap sticky__header">
                <div class="container">
                    <div class="row">
                        <div class="col-md-2 col-sm-6 col-xs-7">
                            <div class="logo">
                                <a href="index.html">
                                    <img src="~/images/logo/sinply-construction.png" alt="logo image">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-8 col-sm-6 col-xs-5">
                            <nav class="main__menu__nav  hidden-xs hidden-sm">
                                <ul class="main__menu">
                                    <li class="drop"><a href="index.html">HOME</a>
                                        <ul class="dropdown">
                                            <li><a href="index.html">Home 01</a></li>
                                            <li><a href="index-2.html">Home 02</a></li>
                                            <li><a href="index-3.html">Home 03</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="about.html">ABOUT</a></li>
                                    <li><a href="service.html">SERVICES</a></li>
                                    <li class="drop"><a href="#">Products</a>
                                        <ul class="dropdown">
                                            <li><a href="/Product/Index">Index</a></li>
                                            <li><a href="single-service.html">Single service</a></li>
                                            <li><a href="projects-one.html">projects one</a></li>
                                            <li><a href="projects-two.html">projects two</a></li>
                                            <li><a href="projects-three.html">projects three</a></li>
                                            <li><a href="single-project.html">Single Project</a></li>
                                            <li><a href="blog.html">BLog</a></li>
                                            <li><a href="blog-one-column.html">blog one column</a></li>
                                            <li><a href="blog-two-column.html">blog two column</a></li>
                                            <li><a href="blog-details.html">blog Details</a></li>
                                            <li><a href="login-register.html">Log in & Register</a></li>
                                        </ul>
                                    </li>
                                    <li class="drop"><a href="#">PROJECTS</a>
                                        <ul class="dropdown">
                                            <li><a href="projects-one.html">projects one</a></li>
                                            <li><a href="projects-two.html">projects two</a></li>
                                            <li><a href="projects-three.html">projects three</a></li>
                                        </ul>
                                    </li>
                                    <li class="drop"><a href="blog.html">BLOG</a>
                                        <ul class="dropdown">
                                            <li><a href="blog.html">BLog</a></li>
                                            <li><a href="blog-one-column.html">blog one column</a></li>
                                            <li><a href="blog-two-column.html">blog two column</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="contact.html">CONTACT</a></li>
                                </ul>
                            </nav>
                            <div class="mobile-menu clearfix visible-xs visible-sm">
                                <nav id="mobile_dropdown">
                                    <ul>
                                        <li><a href="index.html">Home</a>
                                            <ul>
                                                <li><a href="index.html">Home 01</a></li>
                                                <li><a href="index-2.html">Home 02</a></li>
                                                <li><a href="index-3.html">Home 03</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="about.html">ABOUT</a></li>
                                        <li><a href="#">PROJECTS</a>
                                            <ul>
                                                <li><a href="projects-one.html">projects one</a></li>
                                                <li><a href="projects-two.html">projects two</a></li>
                                                <li><a href="projects-three.html">projects three</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#">pages</a>
                                            <ul>
                                                <li><a href="service.html">service</a></li>
                                                <li><a href="single-service.html">Single service</a></li>
                                                <li><a href="projects-one.html">projects one</a></li>
                                                <li><a href="projects-two.html">projects two</a></li>
                                                <li><a href="projects-three.html">projects three</a></li>
                                                <li><a href="single-project.html">Single Project</a></li>
                                                <li><a href="blog.html">BLog</a></li>
                                                <li><a href="blog-one-column.html">blog one column</a></li>
                                                <li><a href="blog-two-column.html">blog two column</a></li>
                                                <li><a href="blog-details.html">blog Details</a></li>
                                                <li><a href="login-register.html">Log in & Register</a></li>
                                            </ul>
                                        </li> 
                                        <li><a href="blog.html">blog</a>
                                            <ul>
                                                <li><a href="blog.html">BLog</a></li>
                                                <li><a href="blog-one-column.html">blog one column</a></li>
                                                <li><a href="blog-two-column.html">blog two column</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="contact.html">contact</a></li>
                                    </ul>
                                </nav>
                            </div> 
                        </div>
                        <div class="col-md-2 col-sm-6 hidden-xs">
                            <div class="htc__header__search">
                                <input type="text" placeholder="SEARCH">
                                <a href="#"><i class="fa fa-search"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="mobile-menu-area"></div>
                </div>
            </div>
            <!-- End Mainmenu Area -->
        </div>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

        <!-- Start Footer Area -->
        <footer class="htc__footer__area">
            <div class="footer__top ptb--130" data--1f2d30__overlay="9.5" style="background: rgba(0, 0, 0, 0) url(images/bg/2.jpg) no-repeat fixed center center / cover ;">
                <div class="container">
                    <div class="row">
                        <div class="htc__footer__wrap clearfix">
                            <!-- Start Single Footer -->
                            <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12">
                                <div class="footer foo">
                                    <div class="footer__widget">
                                        <h2 class="ft__title">ABOUT</h2>
                                    </div>
                                    <div class="ft__details">
                                        <p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled demoralized On the other hand, we denounce </p>
                                    </div>
                                </div>
                            </div>
                            <!-- End Single Footer -->
                            <!-- Start Single Footer -->
                            <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12 xmt-40">
                                <div class="footer quick__link foo">
                                    <div class="footer__widget">
                                        <h2 class="ft__title">QUICK LINKS</h2>
                                    </div>
                                    <div class="footer__link">
                                        <ul class="ft__menu">
                                            <li><a href="service.html">Services</a></li>
                                            <li><a href="projects-one.html">Projects</a></li>
                                            <li><a href="#">Features</a></li>
                                            <li><a href="blog.html">blog</a></li>
                                        </ul>
                                        <ul class="ft__menu">
                                            <li><a href="#">Quote</a></li>
                                            <li><a href="projects-one.html">Projects</a></li>
                                            <li><a href="contact.html">Contact</a></li>
                                            <li><a href="#">Features</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- End Single Footer -->
                            <!-- Start Single Footer -->
                            <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12 smt-40 xmt-40">
                                <div class="footer foo">
                                    <div class="footer__widget">
                                        <h2 class="ft__title">INSTAGRAM</h2>
                                    </div>
                                    <ul class="footer__instagram">
                                        <li><a href="#"><img src="~/images/blog/sm-img/1.jpg" alt="images"></a></li>
                                        <li><a href="#"><img src="~/images/blog/sm-img/2.jpg" alt="images"></a></li>
                                        <li><a href="#"><img src="~/images/blog/sm-img/3.jpg" alt="images"></a></li>
                                        <li><a href="#"><img src="~/images/blog/sm-img/4.jpg" alt="images"></a></li>
                                        <li><a href="#"><img src="~/images/blog/sm-img/5.jpg" alt="images"></a></li>
                                        <li><a href="#"><img src="~/images/blog/sm-img/6.jpg" alt="images"></a></li>
                                    </ul>
                                </div>
                            </div>
                            <!-- End Single Footer -->
                            <!-- Start Single Footer -->
                            <div class="col-md-3 col-lg-2 col-lg-offset-1 col-sm-6 col-xs-12 smt-40 xmt-40">
                                <div class="footer foo">
                                    <div class="footer__widget">
                                        <h2 class="ft__title">INQUARY</h2>
                                        <div class="footer__link">
                                            <ul class="ft__menu">
                                                <li><a href="#">Construction</a></li>
                                                <li><a href="#">Architecture</a></li>
                                                <li><a href="#">Plambing</a></li>
                                                <li><a href="#">Plambing</a></li>
                                            </ul>
                                            <ul class="ft__menu">
                                                <li><a href="#">Painting</a></li>
                                                <li><a href="#">Roofing</a></li>
                                                <li><a href="#">Plambing</a></li>
                                                <li><a href="#">Features</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Single Footer -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="copyright bg__theme">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="copyright__inner">
                                <p>
                                    Copyright <a href="#" target="_blank">Devitems</a>
                                    All Rights Reserved 2017
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- End Footer Area -->
        <script src="~/js/vendor/jquery-1.12.0.min.js"></script>
        <!-- Bootstrap framework js -->
        <script src="~/js/bootstrap.min.js"></script>
        <!-- All js plugins included in this file. -->
        <script src="~/js/plugins.js"></script>
        <script src="~/js/slick.min.js"></script>
        <script src="~/js/owl.carousel.min.js"></script>
        <!-- Waypoints.min.js. -->
        <script src="~/js/waypoints.min.js"></script>
        <!-- Main js file that contents all jQuery plugins activation. -->
        <script src="~/js/main.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
