@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>
<div class="slider__container" style="margin-top:20px">
    <div class="slider__activation__wrap owl-carousel owl-theme">
        <!-- Start Single Slide -->
        <div class="slide slider__fixed--height slide__align--center" style="background: rgba(0, 0, 0, 0) url(images/slider/bg/1.jpg) no-repeat scroll 0 0 / cover;" data--black__overlay="6">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-lg-12">
                        <div class="slider__inner">
                            <h4>TODo Task</h4>
                            <h1>WE BUILD THE To Do List Task</h1>
                            <p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment</p>
                            <div class="slider__btn">
                                <a class="htc__btn" href="contact.html">CONTACT US</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="htc__slider__fornt__img">
                <img src="~/images/ToDo/slider/todotask1.png" alt="slider images">
            </div>
        </div>
        <!-- End Single Slide -->
        <!-- Start Single Slide -->
        <div class="slide slider__fixed--height slide__align--center" style="background: rgba(0, 0, 0, 0) url(images/slider/bg/2.jpg) no-repeat scroll 0 0 / cover;" data--black__overlay="6">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-lg-12">
                        <div class="slider__inner">
                            <h4>TODo Task</h4>
                            <h1>WE BUILD THE To Do List Task</h1>
                            <p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment</p>
                            <div class="slider__btn">
                                <a class="htc__btn" href="contact.html">CONTACT US</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="htc__slider__fornt__img">
                <img src="~/images/ToDo/slider/todotask2.png" style="height:75%" alt="slider images">
            </div>
        </div>
        <!-- End Single Slide -->
    </div>
</div>
